{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    {{ if and (eq .Data.Singular "tag") (not (eq .Title "Tags")) }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}
    {{ .Content }}

    <div class="posts">
        {{ range .Pages }}
        <div class="article">
            <h1><a href="{{ .Permalink }}">{{ if .Draft }}{{ T "draft" }}: {{ end }}{{ .Title | markdownify }}</a></h1>
            
            {{ if .Params.Description}}
                <div class="post-meta">{{ .Params.Description }}</div>
            {{end}}
            <br>
            <time class="post-meta">{{ partial "dformat.html" . }}&emsp;</time>
                {{ if .Params.Category }}
                    <br><span class="post-meta">Post type: {{ .Params.Category }}</span>
                {{ end }}
                {{ if .Params.Tags }}
                    {{ partial "tags.html" . }}
                {{ end }}
        </div>
        {{ end }}
    </div>

</section>

{{ template "_internal/pagination.html" . }}

<!--
vim:ft=liquid
-->
{{ end }}
