<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container" style="overflow: auto;">
            &copy; ZZ, 2023
            (<a href="https://github.com/zzaccount1/blog2">Website source</a>,
            <a href="https://github.com/zzaccount1/blog2/LICENSE">license</a>,
            <a href="/privacy.html">privacy policy</a>)
            <p class="right">Designed by <a href="https://github.com/LunarWatcher">LunarWatcher</a></p>
        </div>
    </div>
</footer>

{{ $js := resources.Get "js/functions.js" | resources.Minify }}
<script type="text/javascript" src="{{ $js.Permalink | lower}}"></script>

